<div id="slider" style="padding-top:40px;">
  <ul>
    <li><%= image_tag(asset_path("poster1.jpg")) %></li>
    <li><%= image_tag(asset_path("poster2.jpg")) %></li>
  </ul>
</div>

<div class="one_third">
  <h3 class="block-title">一、获赠条件？木有苛刻的条件！</h3>
  <p>心疼父母的人都可以来啦！尤其是父母的腰啊背啊腿啊不太舒服的身上带各种病儿的，只要您有心给父母按摩尽孝，大中医就会免费提供按摩法供大家学习，图文并茂简单易上手哦！
  </p>
</div>
<div class="one_third">
  <h3 class="block-title">二、参加费用？木有费用！</h3>
  <p>大中医承诺永远免费不涉金钱，并且还超级欣赏孝顺父母的朋友。自本日起按照要求参与活动、报名成功的前108位同学，将获得大中医赠送的《正见》《故道白云》和《大中医古传炼筋法》，身体健康的同时，精神上的受益也是杠杠滴！</p>
</div>
<div class="one_third column-last">
  <h3 class="block-title">四、如何报名参加活动？流程来啦！</h3>
  <p>1.说说您和父母之间有感触的事情，无论是说故事还是传照片，只要真情实感！<点击直达>
  2.若您同时也愿意为父母尽孝按摩，请在报名帖里回复故事/照片的链接报名。<点击直达>
  3.按照上述要求申请的前108位同学将获得本次活动的两本赠书以及《大中医古传炼筋法》一册，我们的义工将会跟进与您豆油确认。</p>
</div>

<div class="clearfix"></div>
<div class="separate-line"></div>

<div class="block-main-title">
  <h1>恢复案例</h1>
</div>

<div class="one_fourth">
  <div class="image-box">
    <%= image_tag("activity-1.jpeg") %>
  </div>
  <p>心疼父母的人都可以来啦！尤其是父母的腰啊背啊腿啊不太舒服的身上带各种病儿的，只要您有心给父母按摩尽孝，大中医就会免费提供按摩法供大家学习，图文并茂简单易上手哦！
  </p>
</div>
<div class="one_fourth">
  <div class="image-box">
    <%= image_tag("activity-2.jpeg") %>
  </div>
  <p>大中医承诺永远免费不涉金钱，并且还超级欣赏孝顺父母的朋友。自本日起按照要求参与活动、报名成功的前108位同学，将获得大中医赠送的《正见》《故道白云》和《大中医古传炼筋法》，身体健康的同时，精神上的受益也是杠杠滴！</p>
</div>
<div class="one_fourth">
  <div class="image-box">
    <%= image_tag("activity-2.jpeg") %>
  </div>
  <p>大中医承诺永远免费不涉金钱，并且还超级欣赏孝顺父母的朋友。自本日起按照要求参与活动、报名成功的前108位同学，将获得大中医赠送的《正见》《故道白云》和《大中医古传炼筋法》，身体健康的同时，精神上的受益也是杠杠滴！</p>
</div>
<div class="one_fourth column-last">
  <div class="image-box">
    <%= image_tag("activity-3.jpeg") %>
  </div>
  <p>1.说说您和父母之间有感触的事情，无论是说故事还是传照片，只要真情实感！<点击直达>
  2.若您同时也愿意为父母尽孝按摩，请在报名帖里回复故事/照片的链接报名。<点击直达>
  3.按照上述要求申请的前108位同学将获得本次活动的两本赠书以及《大中医古传炼筋法》一册，我们的义工将会跟进与您豆油确认。</p>
</div>

<div class="clearfix"></div>
<div class="separate-line"></div>

<script type="text/javascript">
  $(window).load(function() {
    $("#slider").unslider({
      slideWidth: 990,
      slideMargin: 0
    });
  });
</script>
