<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="body-wrapper">
      <header id="header">
        <%= render "layouts/header" -%>
      </header>

      <div class="clearfix"><!--start body-wrapper-->
        <%= yield %>
      </div><!--end-body wrapper-->

      <footer>
        <%= render "layouts/footer" -%>
      </footer>
    </div>
  </body>
</html>
