<!DOCTYPE html>
  <%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <% #site_bar -%>
    <div id="body-wrapper">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>

      <div class="clearfix"><!--start body-wrapper-->
        <%= yield %>
      </div><!--end-body wrapper-->

      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%# render "/refinery/javascripts" %>

  </body>
</html>
